fastapi
uvicorn
pandas
langchain-chroma
langchain-huggingface
sentence-transformers
pydantic<2.0.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch--index-url https://download.pytorch.org/whl/cpu
